node_modules/
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Environment
.env
.env.local
.env.production

# Firebase
.firebase/
firebase/functions/lib/
firebase/functions/node_modules/

# macOS
.DS_Store

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*
expo-debug.*

# Local
*.local
